
{% extends 'base.html' %}

{% block title %}
    Index
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="jumbotron" style="background-color:black;">
            <h2 align="center" style="color:white;">Manjil Shrestha</h2>
            <h1 align="center" style="color:white; font-size: 50px;">Python Programmer</h1>
            <p style="color:white; text-align:justify;">
                Welcome to digital portfolio. This is where I showcase all the cool stuff that I have enjoyed working
                recently and I share a little bit about my personal life too.
            </p>
            <div align="center">
                <a href="https://fb.com/pratiman69"><button type="button" class="btn btn-outline-primary">Facebook</button></a>
                <a href="https://github.com/smanjil"><button type="button" class="btn btn-outline-secondary">Github</button></a>
                <a href="https://www.linkedin.com/in/manjil-shrestha-038527b4/"><button type="button" class="btn btn-outline-primary">LinkedIn</button></a>
                <a href="https://stackoverflow.com/users/6254981/smanjil"><button type="button" class="btn btn-outline-info">Stack Overflow</button></a>
            </div>
        </div>
        <p>This is some text.</p>
        <p>This is another text.</p>
    </div>
{% endblock content %}
